body {
        padding-top: 60px;
        padding-bottom: 40px;
}

div.page-header {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

body > div.navbar {
  max-height: 40px; 
  height: 40px;
}

div.page-header h1 {
  color: #5a5a5a;
}

.statusBar {
	margin-left: 20px;
}

.table thead tr th.toolbar {
	padding: 5px;
	background-color: #f5f5f5;
	vertical-align: middle;
}

.entity-table thead tr th.toolbar .form-search {
	margin: 0px;
}

.entity-table thead tr.column-headers th {
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.entity-table tbody tr td.select, .table thead tr th.select {
	width: 20px;
	max-width: 20px;
	text-align: center;
	vertical-align: middle;
}

.entity-table tbody tr.selected td {
	background-color: rgb(252, 248, 227);
}

.table-striped tbody tr:nth-child(2n+1).selected td {
    background-color: rgb(246, 242, 222);
}

.table-hover tbody tr:hover.selected td {
	 background-color: rgb(245, 245, 245);
}

table.entity-table thead tr th .sizehandler {
	float: right;
	height: 100%;
  cursor: col-resize;
	margin-right: 0px;
	width: 5px;
	min-width: 5px;
}

.entity-table tbody tr, .entity-table thead tr th {
	cursor:pointer;
}

.entity-table tbody tr.entityTableRow {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.entity-table-container table.entity-header-table {
  margin-bottom: 0px;
}

.leave-animation {
  -webkit-transition:0.3s linear opacity;
  -moz-transition:0.3s linear opacity;
  -o-transition:0.3s linear opacity;
  transition:0.3s linear opacity;

  opacity:1;
}
.leave-animation.leave-animation-active {
  opacity:0;
}

.enter-animation {
  /* the trailing 0.3s here is the delay */
  -webkit-transition:0.3s linear opacity 0.3s;
  -moz-transition:0.3s linear opacity 0.3s;
  -o-transition:0.3s linear opacity 0.3s;
  transition:0.3s linear opacity 0.3s;

  opacity:0;
}
.enter-animation.enter-animation-active {
  opacity:1;
}


ul.dropdown-menu li a {
	cursor:pointer !important;
}

.ui-pnotify.stack-bottomright {
	right: auto;
	top: auto;
}

/* Sidenav
-------------------------------------------------- */

div.klara-sidebar ul.klara-sidenav {
//  width: 250px;
  margin: 5px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
div.klara-sidebar ul.klara-sidenav a {
  display: block;
//  width: 200px;
  margin: 0 0 -1px;
  padding: 8px 14px !important;;
  border: 1px solid #e5e5e5;
}
div.klara-sidebar ul.klara-sidenav li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
div.klara-sidebar ul.klara-sidenav li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

/* Chevrons */
div.klara-sidebar ul.klara-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

div.klara-sidebar ul.klara-sidenav > li > a:hover {
  background-color: rgb(252, 248, 227);
}

div.klara-sidebar ul.klara-sidenav > li.active > a:hover {
  background-color: rgb(246, 242, 222);
  color: rgb(0, 136, 204);
  text-shadow: none;
}
