body {
        padding-top: 60px;
        padding-bottom: 40px;
}

.sidebar-nav {
        padding: 9px 0;
}

.statusBar {
	margin-left: 20px;
}

.table thead th.toolbar {
	padding: 5px;
	background-color: #f5f5f5;
	vertical-align: middle;
}

.table thead th.toolbar .form-search {
	margin: 0px;
}

.select {
	width: 20px;
	max-width: 20px;
	text-align: center;
}

.table tbody tr.selected td {
	background-color: yellow;
}