<p>Bin ich schuelerDetail: {{schueler.name}}</p>
<p>id: {{schueler.id}}</p>

<h3>Enter some data and submit to send and access protected data.</h3>
        <form ng-submit="restrictedAction()">
          Enter restricted data:
          <input type="text" ng-model="restrictedData">
          <input type="submit" value="Submit"></input>
        </form>

<p>username: {{user.username}}</p>
<p>user-info: {{user.info}}</p>
<p>user-info: {{user.firstName}}</p>
<p>user-info: {{user.lastName}}</p>
<p>user-info: {{user.permissions}}</p>