<div class="span3 well">
  <ul class="nav nav-list">
  	<li class="nav-header">Daten</li>
		<li class="active"><a href="#overview"><i class="icon-chevron-right"></i> Persönliche Daten</a></li>
		<li class="">Eltern</li>
		<li class="">Schule</li>
  	<li class="nav-header">Informationen</li>
		<li class="">Eltern</li>
		<li class="">Schule</li>
	</ul>
</div>

<div class="span9" ng-init="init()">

	<ul class="breadcrumb">
    <li><a href="#">Klara</a> <span class="divider">/</span></li>
    <li><a href="#/schueler">Schüler</a> <span class="divider">/</span></li>
    <li class="active">{{schueler._id}}</li>
  </ul>


	<div class="page-header">
   	<h1>{{schueler.vorname}} {{schueler.name}}</h1>
  </div>
	
	<!-- Validation Results -->
	<div class="alert alert-error" ng-repeat="msg in validation.errors">
		<strong>{{msg.text}}</strong>&nbsp;<span>{{msg.severity}}</span>
	</div>

	<form class="form-horizontal">

		<div class="control-group">
			<label class="control-label" for="inputId">id</label>
			<div class="controls">
				<input class="uneditable-input" type="text" id="inputId" ng-model="schueler._id" />
			</div>
		</div>

		<div id="name" class="control-group">
			<label class="control-label" for="inputName">Name</label>
			<div class="controls">
				<input type="text" id="inputName" ng-model="schueler.name" />
				<span class="help-inline validationResult"></span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputVorname">Vorname</label>
			<div class="controls">
				<input type="text" id="inputVorname" ng-model="schueler.vorname" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="selectGeschlecht">Geschlecht</label>
			<div class="controls">
				<select id="selectGeschlecht" class="span2" bs-select ng-model="schueler.geschlecht" ng-options="key as label for (key, label) in geschlecht"></select>
			</div>
		</div>


    <div class="form-actions">
    	<button type="submit" class="btn btn-primary" ng-click="save()"><i class="icon-save icon-white" /> speichern</button>
    	<button type="button" class="btn" ng-click="goToList()"><i class="icon-list" /> zurück</button>
    </div>
	
	</form>

</div>