<div class="span12" ng-init="init()">

    <ul class="breadcrumb">
        <li><a href="#">Klara</a> <span class="divider">/</span></li>
        <li><a href="#/schueler">Schüler</a> <span class="divider">/</span></li>
    </ul>


    <div class="page-header">
        <h1><i class="icon-table icon-large" />&nbsp; Schüler-Liste</h1>
    </div>

<!-- Filter-Test
    <ul>
        <li ng-repeat="schueler in schuelerList">{{test(geschlecht[schueler.geschlecht])}}</li>
    </ul>
    <ul>
        <li ng-repeat="schueler in schuelerList">{{schueler.geschlecht | dictionary:geschlecht}}</li>
    </ul>
-->

    <entity-table id="schuelerTable" entities="schuelerList" options="optionen" columns="columns" body-height="250px"
        create="/schueler/create" edit-prefix="/schueler/detail/" delete="deleteSchueler(id)" reload="reload()" />


</div>
