<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li class="active"><a href="#">Link</a></li>
      <li><a href="#/schueler"><i class="icon-book"></i> Schüler</a></li>
      <li><a href="#/schuelerDetail/12345">Schüler-Detail</a></li>
      <li><a href="#">Link</a></li>
      <li class="nav-header">Sidebar</li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="nav-header">Sidebar</li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->

<div class="span9">

<p>Bin ich schuelerDetail: {{schueler.name}}</p>
<p>id: {{schueler.id}}</p>

<h3>Enter some data and submit to send and access protected data.</h3>
        <form ng-submit="restrictedAction()">
          Enter restricted data:
          <input type="text" ng-model="restrictedData">
          <input type="submit" value="Submit"></input>
        </form>

<p>username: {{user.username}}</p>
<p>user-info: {{user.info}}</p>
<p>user-info: {{user.firstName}}</p>
<p>user-info: {{user.lastName}}</p>
<p>user-info: {{user.permissions}}</p>
  
</div><!--/span-->

